@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");  /* 웹폰트*/
@import url("fontello.css") ;    /* fontello 아이콘 사용하기*/
/* 스타일 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
ul{
  list-style-type: none ;
}
a{
  text-decoration: none;
  color: inherit;
}
/* 숨긴컨텐츠 */
.readable-hidden, legend{
  position: absolute;  /* 보이지는 않지만 스크린리더는 읽음  margin까지 안보이게 처리 */
  width:1px;
  height:1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  background: red;
  margin: -1px;    /*   clip 안되는 브라우저 있어 사용함 */

}
/*클래스모듈*/
/* float 이슈를 해결하기 이한 clear 기능  모든 float 해제*/
.clearfix::after{
  content: ""; 
  display: block;
  clear: both;
}
/*   기본스타일 */
body{
  color:#181818;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
  font-weight:400;
  line-height:1.15;
  background: linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);

  }
/* 컨테이너 */
.container{
  background: url("images/bg_flower.png") no-repeat 50% 0
}
.header, .visual, .main, .slogan, .footer{
  width: 940px; 
  margin:0 auto;
}
/* 헤더 */
.header{
  position: relative;
  background: #fff;
  padding: 0 30px 45px;
  border-radius:0 0 15px 15px; 
}
/* 로고 */
.logo{
  position: absolute;
  top: 55px;
  left:65px;
}
/* 안내링크 */
.member{
  text-align: right;    /*메뉴 오른쪽을 정렬   float 와 같은 효과 */
  font-size: 0;  /* 메뉴간격 0*/
  padding: 0 2px 0;
  margin-right: -10px;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  display: inline-block;/* 박스가로배치 메뉴가 옆으로 위치 float left와 같은 효과*/
  font-size: 1.4rem;
  text-transform: uppercase; /* 소문자를 대문자로 변경*/
}
.bar::before{
  content: ":";
  margin: 0 1px;
}
.member a{
  padding: 5px 10px;
  display: inline-block;
}
.bg-footer{
 background: red
}
/* 메인 메뉴 */
.menu{
  background:#e2572d linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);/* linear 앞에 red 적으면 linear 지원안할때 빵강배경보임배경색 글라데이션*/
  margin-top: 10px;
  padding-left: 225px;
  border-top:2px solid #000;
  border-radius:0 0 5px 5px; 
}
.menu > li{
  float: left;
  position: relative;  
}
.menu-item-text{
  font-size: 1.7rem;
  font-weight: 700;
  color:#fff;
  padding: 1em 18px;
  display: block;
  border-left: 1px solid #fff;
  text-shadow: 1px 0 0 #000, 0 1px 0#000, -1px 0#000, 0 -1px 0#000;   /*  메뉴주변 검정 테두리 */
}
.menu-act .menu-item-text{
  color:#ff0;
  position: relative;
  }
.menu-act .menu-item-text::after{
  position: absolute;            /* ㅁㅔ뉴하단에 검정 선 생기게  */
  width: calc(100% - 36px);
  bottom: -2px;
  content: "";
  display: block;
  border-top:2px solid #000; 

}
.sub-menu{
 position: absolute;
  white-space: nowrap;  /* 줄바꿈 금지 무조건 한줄로 보여라 블록 요소에서만 사용 */
  top:60px;
  display: none;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left:0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right:0;
}
.sub-menu li, .sub-menu a{
  display: inline-block;

}
.sub-menu a{
  padding: 10px 0;
  margin-right:10px;
}
/*  비주얼 */

  @keyframes textAni{
    0%{
      font-size: 12px;
      color: rgba(0,0,0,0);
      transform: translate(0,0);
    }
    100%{
      font-size: 24px;
      color:rgba(0,0,0,1);
      transform: translate(400px, 75px );
    }
  }
  @keyframes flowerAni{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  .visual{
    height: 120px;
    position: relative;
    }
  .visual::before,   .visual::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat; 
    position: absolute;
    top: 0;
    left: 0;
    animation-name:flowerAni;
    animation-duration: 2s; 
    animation-iteration-count: infinite;  /*무한반복*/
    animation-direction: alternate;  /*애니메이션 부드럽게 순방향 역방향*/
  } 
  .visual::before{
    background-image: url("images/ani_flower_01.png"), url("images/ani_flower_02.png");
    background-position: 0 -10px, 670px 0;    /*배경이미지 위치*/
    }
  .visual::after{
    background-image: url("images/ani_flower_03.png"), url("images/ani_flower_04.png");
    background-position: 300px 0, 800px 0;    /*배경이미지 위치*/
    animation-delay: 1s; /* 2초있다가 시작해라 */
    animation-timing-function: ease-in-out;     }
  .visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: textAni ;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
   
    width: 545px;
    }
  /* 메인 콘텐츠   */
.main{
  background: #fff;
  padding: 30px;
  min-height:450px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius:15px 15px 0 0; 
}
.group1{
  
  width: 250px;
}
.group2{

  width: 380px;
  
}
.group3{
  
  width: 100px;
}
/*      로그인     */
.login{
 background: #e8852e /* 좌측 칼라는 우측 글라데이션을 지워하지 않는 경우 보이는 칼라 */radial-gradient(circle at top right, #e8852e, #ed552f);
 border-radius: 5px;
 padding: 10px; 
 box-shadow: 0 0 10px 1px  #aaa;
}
.login-heading{
  font-size: 1.5rem; 
  font-weight: 700;
  color: rgb(255,255,0); 
  padding-left:  10px;
}

.login-form{
  background: rgb(255,255,255);
  margin-top: 10px; 
  padding:10px 10px 0 10px;
  border-radius: 5px 5px 0 0; 
}
.login-form fieldset{
  border: 0; 
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom:  10px; 
}
.user-pw{
  margin-top:5px;
}
.login-form label{
  display: inline-block;
  width: 4em;
}
.login-form input{
  width: 95px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.btn-login{
 position: absolute;
 top:0;
 right: 0;
 background: #ed552f;
 color:rgb(255,255,255);
 border-radius: 3px;
 border: 0;
 padding:0;
 font-size: 1.2rem;
 cursor:pointer; 
 width: 50px;
 height: 54px;
}
.sign{
  background: rgb(255,255,255);
  border-radius: 0 0 5px 5px;
  display: flex;                                   /*가로정렬*/
  justify-content: space-between;                  /*가로정렬*/
  padding: 10px ;
  font-size: 1.3rem;
}
.sign .icon-right-open::before{
  color: #ed552f;
  margin: 0;
}
/*유효성 검사 베너*/
.validation{
  margin-top: 25px;
}
.validation-list a{
  display: block;
  background:url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(180deg, #bbb, #eee) ;
  background-color: #bbb;    /* 위에 글라데이션 지원하지 않는 경우 배경색 보이게 */
  border-radius: 30px;
  border: 1px solid #aaa;
  padding: 8px 15px 8px 45px; 
  margin: 10px 0;
}
.validation-list a::hover, 
.validation-list a::focus{
  color:red;
}
/* 웹 관련 용어 */
.term{
  border: 1px solid #aaa;
  border-radius: 5px;
  background:#bbb linear-gradient(to bottom, #bbb, #eee);
  padding: 10px 15px;
}
.term-heading{
  font-size: 1.5rem;
  font-weight:700;
}
.term-list{
}
.term-list > div{
  margin-top: 10px;
}
.term-list-subject, .term-list-brief{
  background-color: #e2572d;
  width: 145px;
  float:right;
}
.term-list-subject{
  color:#296897;
}
.term-list-thumbnail{
  float:left;
}
.term-list-thumbnail img{
  vertical-align: middle;
}
.term-list-brief{
  margin-top: 5px;
  line-height: 1.5;
}
.even .term-list-subject, .even.term-list-brief{
  background-color: #e2572d;
  width: 145px;
  float:left;
}
/* 검색 폼 */
.search{
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px; 
  background: #bbb linear-gradient(to bottom, #bbb, #fff)
}
.search-form{
  
}
.search-form fieldset{
  border:0;
}
.search-form label, .search-form input, .btn-search{
  vertical-align: middle;
}
.search-form input{
  width: 190px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  margin: 0 5px;
}
.btn-search{
  background: #333;
  color:#fff;
  border: 0;
  padding: 0 10px;
  height:24px;
  border-radius: 3px; 

}
